.body {
    margin: 0;
    padding: 0;
}

.dropshadow {    
    height: auto;
    /*-webkit-box-shadow: -15px 13px 20px 3px rgba(0,0,0,0.91);
    -moz-box-shadow: -15px 13px 20px 3px rgba(0,0,0,0.91);*/
    box-shadow: 10px 10px 20px 3px rgba(170,170,170,0.91);
}

.fbc_background {
    background-image: url('/assets/mpdf/fbc_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.fbc60_background {
    background-image: url('/assets/mpdf/fbc60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.fran_name {
    position: relative;
    float:left;
    text-align: left;
    font-family: helveticaneueltstd;
    /*font-family: helveticaNeueLTStd-Lt;*/
    line-height: 125%;
    margin-left: 25mm;
    padding-top: 58mm;
    font-size: 28pt;
}

.fran_title {
    /*position: relative; */
    float:left;
    text-align: left;
    font-family: helveticaneueltcn;
    line-height: 120%;
    margin-left: 25mm;
    font-size: 23pt;
}

.fran_address {
    position: relative;
    float: left;
    text-align: left;
    margin-left: 25mm;
    /*margin-bottom: 0;
    padding-bottom: 0;*/
    padding-top: 8mm;
    font-family: helveticaneueltcn;
    line-height: 125%;
    font-size: 24pt;
}

.srbc_background {
    background-image: url('/assets/mpdf/srbc_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.srbc60_background {
    background-image: url('/assets/mpdf/srbc60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.srbc_name {
    position: relative;
    float:left;
    text-align: left;
    font-family: helveticaneueltstd;
    line-height: 125%;
    margin-left: 25mm;
    padding-top: 54mm;
    font-size: 28pt;
}

.srbc_title {
    float:left;
    text-align: left;
    font-family: helveticaneueltcn;
    line-height: 120%;
    margin-left: 25mm;
    font-size: 23pt;
}

.srbc_address {
    position: relative;
    float: left;
    text-align: left;
    margin-left: 25mm;
    padding-top: 7mm;
    font-family: helveticaneueltcn;
    line-height: 125%;
    font-size: 23pt;
}

.psrbc_background {
    background-image: url('/assets/mpdf/psrbc_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.psrbc60_background {
    background-image: url('/assets/mpdf/psrbc60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.psrbc_name {
    position: relative;
    float:left;
    text-align: left;
    font-family: helveticaneueltstd;
    line-height: 115%;
    margin-left: 100mm;
    padding-top: 50mm;
    font-size: 30pt;
}

.psrbc_title {
    float:left;
    text-align: left;
    font-family: helveticaneueltcn;
    line-height: 115%;
    margin-left: 100mm;
    font-size: 24pt;
}

.psrbc_address {
    position: relative;
    float: left;
    text-align: left;
    margin-left: 31mm;
    padding-top: 13mm;
    font-family: helveticaneueltcn;
    line-height: 111%;
    font-size: 23pt;
}

.np_background {
    background-image: url('/assets/mpdf/np_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.np60_background {
    background-image: url('/assets/mpdf/np60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.np_name {
    position: relative;
    text-align: left;
    font-family: helveticaneue;
    line-height: 125%;
    margin-left: 20mm;
    margin-bottom: 0;
    padding-top: 60mm;
    font-size: 40pt;
    clear: both;
}

.np_title {
    position: relative; 
    text-align: left;
    font-family: helveticaneueltcn;
    line-height: 110%;
    padding-top: .5mm;
    padding-bottom: 0;
    margin-left: 21mm;
    font-size: 34pt;
}

.np_address_Line1 {
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 125%;
    margin-bottom: 0;
    padding-top: 355mm;
    font-size: 29pt;
    clear: both;
}

.np_address_line2 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 29pt;
}

.np_address_line3 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 135%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 29pt;
}

.np_address_line4 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 105%;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 29pt;
}

.cnp_address_Line1 {
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    margin-bottom: 0;
    padding-top: 355mm;
    font-size: 30pt;
    clear: both;
}

.cnp_address_line2 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 30pt;
}

.cnp_address_line3 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 145%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 30pt;
}

.cnp_address_line4 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 30pt;
}

.lh_background {
    background-image: url('/assets/mpdf/lh_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.lh60_background {
    background-image: url('/assets/mpdf/lh60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.lh_address_Line1 {
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    margin-bottom: 0;
    padding-top: 465mm;
    font-size: 20pt;
    clear: both;
}

.lh_address_line2 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 20pt;
}

.lh_address_line3 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltcn;
    line-height: 110%;
    padding-top: 1mm;
    padding-bottom: 0;
    font-size: 20pt;
}

.env_background {
    background-image: url('/assets/mpdf/env_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.env60_background {
    background-image: url('/assets/mpdf/env60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.env_address {
    position: absolute;
    text-align: left;
    margin-left: 20mm;
    padding-top: 48mm;
    font-family: helveticaneueltcn;
    line-height: 112%;
    font-size: 16pt;
}

.cbc_background {
    background-image: url('/assets/mpdf/cbc_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.cbc60_background {
    background-image: url('/assets/mpdf/cbc60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.cbc_name {
    position: relative;
    float:left;
    text-align: right;
    font-family: helveticaneueltstd;
    line-height: 115%;
    /*margin-left: 100mm;*/
    margin-right: 25mm;
    padding-top: 60mm;
    font-size: 28pt;
}

.cbc_title {
    float:right;
    text-align: right;
    font-family: helveticaneueltcn;
    line-height: 110%;
    margin-right: 25mm;
    padding-bottom: 10mm;
    font-size: 22pt;
}

.cbc_address {
    position: absolute;
    /*float: right;*/
    text-align: left;
    margin-left: 31mm;
    padding-top: 0;
    font-family: helveticaneueltcn;
    line-height: 111%;
    font-size: 23pt;
}

.dsbc_background {
    background-image: url('/assets/mpdf/dsbc_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.dsbc60_background {
    background-image: url('/assets/mpdf/dsbc60_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.dsbc_name {
    position: relative;
    float:left;
    text-align: right;
    font-family: helveticaneueltstd;
    line-height: 115%;
    /*margin-left: 100mm;*/
    margin-right: 25mm;
    padding-top: 60mm;
    font-size: 28pt;
}

.dsbc_title {
    float:right;
    text-align: right;
    font-family: helveticaneueltcn;
    line-height: 110%;
    margin-right: 25mm;
    padding-bottom: 10mm;
    font-size: 22pt;
}

.dsbc_address {
    position: absolute;
    /*float: right;*/
    text-align: left;
    margin-left: 31mm;
    padding-top: 0;
    font-family: helveticaneueltcn;
    line-height: 111%;
    font-size: 23pt;
}

.opb23_background {
    background-image: url('/assets/mpdf/opb23_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.opb24_background {
    background-image: url('/assets/mpdf/opb24_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.opb25_background {
    background-image: url('/assets/mpdf/opb25_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.opb26_background {
    background-image: url('/assets/mpdf/opb26_template.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    padding-bottom: 0;
    padding-top: 0;
    min-height: 100%;
    height: 100%;
}

.opb_Line1 {
    text-align: center;
    font-family: helveticaneueltstd;
    line-height: 110%;
    margin-bottom: 0;
    padding-top: 245mm;
    font-size: 21pt;
    clear: both;
}

.opb_line2 {
    position: relative; 
    text-align: center;
    font-family: helveticaneueltstd;
    line-height: 110%;
    padding-top: 732mm;
    padding-bottom: 0;
    font-size: 13pt;
}